name: CI

on:
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download and build boost
        run: |
          BOOST_VERSION=1.68.0
          wget https://dl.bintray.com/boostorg/release/${BOOST_VERSION}/source/boost_${BOOST_VERSION/./_}.tar.gz
          tar xf boost_${BOOST_VERSION/./_}.tar.gz
          cd boost_${BOOST_VERSION/./_}
          ./bootstrap.sh --prefix=/opt.boost
          ./b2 install cxxflags="-std=c++11" linkflags="-std=c++11"
  
